<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <div th:replace="_styles"></div>
</head>

<body>

<div th:replace="navbar"></div>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 th:text="${post.title}"></h1>
                    <h2 class="subheading" th:text="${post.subtitle}"></h2>
                    <span class="meta">Posted by
                <a href="#" th:text="${post.author}">Start Bootstrap</a>
                on <span th:text="${post.date}" th:remove="tag"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p th:text="${post.text}"></p>
                <hr>
                <div class="clearfix">
                    <a class="btn btn-primary float-right" th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a>
                </div>
            </div>
        </div>
    </div>
</article>

<hr>

<div th:replace="_footer"></div>

<div th:replace="_scripts"></div>

</body>

</html>
